{% extends 'base.html' %}

{% block title %}
    管理员 - {{ rid }} {{ name }}_电气信息学院请假管理系统
{% endblock title %}

{% block body %}
    <div class="container d-flex align-items-center" style="height: calc(100% - 62px);">
        <div class="itemcard">
            <div class="itemcard-menu">
                <ul class="pagination">
                    <li data-itemcard-menu="1" class="page-item active">
                        <button class="page-link"><i class="fa fa-address-card me-2"></i>用户信息</button>
                    </li>
                    <li data-itemcard-menu="2" class="page-item">
                        <button class="page-link"><i class="fa fa-sitemap me-2"></i>学生管理</button>
                    </li>
                    <li data-itemcard-menu="3" class="page-item">
                        <button class="page-link"><i class="fa fa-sitemap me-2"></i>教师管理</button>
                    </li>
                    <li data-itemcard-menu="4" class="page-item disabled">
                        <button class="page-link"><i class="fa fa-cogs"></i>设置</button>
                    </li>
                </ul>
            </div>
            <div data-itemcard-page="1" class="itemcard-page active">
                <div class="row h-100 flex-nowrap align-items-center justify-content-center">
                    <div class="col col-2 col-lg-2 col-sm-3">
                        {% include 'includes/headcard.html' %}
                    </div>
                    <table class="col col-8 table table-striped table-bordered m-0" border="3" style="width: 30%;background-color: #fff;">
                        <thead>
                            <tr><th colspan="2">管理员信息</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>ID</td><td>{{ rid }}</td></tr>
                            <tr><td>姓名</td><td>{{ name }}</td></tr>
                            <tr><td>性别</td><td>{{ gender }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-itemcard-page="2" class="itemcard-page">
                <div class="container">
                    <div class="row">
                        <div id="studentToolbar" class="col button-group">
                            <button class="btn btn-danger" onclick="btnAdminDeleteStudentClick()">删除<i class="fa fa-trash-o ms-2"></i></button>
                            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifyStudentModal" onclick="btnModifyStudentClick()">修改<i class="fa fa-pencil-square-o ms-2"></i></button>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyStudentModal">添加<i class="fa fa-plus-circle ms-2"></i></button>
                        </div>
                        <table id="studentTable" class="col"></table>
                    </div>
                </div>
            </div>
            <div data-itemcard-page="3" class="itemcard-page">
                <div class="container">
                    <div class="row">
                        <div id="teacherToolbar" class="col button-group">
                                <button class="btn btn-danger" onclick="btnAdminDeleteTeacherClick()">删除<i class="fa fa-trash-o ms-2"></i></button>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifyTeacherModal" onclick="btnModifyStudentClick(this)">修改<i class="fa fa-pencil-square-o ms-2"></i></button>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyTeacherModal">添加<i class="fa fa-plus-circle ms-2"></i></button>
                        </div>
                        <table id="teacherTable" class="col"></table>
                    </div>
                </div>
            </div>
            <div data-itemcard-page="4" class="itemcard-page">
                设置
            </div>
        </div>
    </div>

    <div class="modal fade" id="modifyStudentModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">修改学生信息</div>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="modifyStudentForm" class="container rounded mx-auto">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="sid">
                                    <label class="form-label float-start" for="sid">学号</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="name">
                                    <label class="form-label" for="name">姓名</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="gender">
                                    <label class="form-label" for="gender">性别</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="text" name="department">
                            <label class="form-label" for="department">学部</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="text" name="faculty">
                            <label class="form-label" for="faculty">系别</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="text" name="major">
                            <label class="form-label" for="major">专业</label>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="grade">
                                    <label class="form-label" for="grade">年级</label>
                                </div>
                            </div>
                            <dic class="col">
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="class">
                                    <label class="form-label" for="class">班级</label>
                                </div>
                            </dic>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button class="btn btn-primary" onclick="btnModifyStudentSubmitClick()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modifyTeacherModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">修改教师信息</div>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="modifyTeacherForm" class="container rounded mx-auto">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mt-3">
                                    <input class="form-control" type="text" name="tid">
                                    <label class="form-label" for="tid">ID</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mt-3">
                                    <input class="form-control" type="text" name="name">
                                    <label class="form-label" for="name">姓名</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mt-3">
                                    <input class="form-control" type="text" name="gender">
                                    <label class="form-label" for="gender">性别</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="text" name="telphone">
                            <label class="form-label" for="telphone">电话号码</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="text" name="role">
                            <label class="form-label" for="role">职能</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button class="btn btn-primary" onclick="btnModifyTeacherSubmitClick()">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script>
        let studentTable = teacherTable = null;
        $('[data-itemcard-menu="2"]').on('click', () => {
            if(studentTable) return;
            studentTable = $('#studentTable').bootstrapTable({
                locale: 'zh-CN',
                toolbar: '#studentToolbar',
                toolbarAlign: 'left',
                buttonsOrder: ['paginationSwitch', 'toggle', 'fullscreen', 'refresh', 'columns'],
                showPaginationSwitch: true,
                showToggle: true,
                showFullscreen: true,
                showRefresh: true,
                showColumns: true,
                showButtonText: false,
                showHeader: true,
                showFooter: false,
                pagination: true,
                search: true,
                searchTimeOut: 300,
                minimumCountColumns: 3,
                clickToSelect: true,
                multipleSelectRow: true,
                detailView: true,
                detailViewIcon: true,
                detailFormatter: function(index, row, element) {
                    return `${row.name} (${row.sid}) ${row.department} ${row.faculty} ${row.major} ${row.class}班`;
                },
                sortable: true,
                url: '/admin/students',
                columns: [{
                    field: 'select',
                    title: '复选', 
                    checkbox: true, 
                }, {
                    field: 'on',
                    title: '序号', 
                    sortable: true,
                    align: 'center', 
                    width: 1,
                }, {
                    field: 'sid', 
                    title: '学号', 
                    sortable: true,
                    align: 'center',
                }, {
                    field: 'name', 
                    title: '姓名', 
                    sortable: true,
                }, {
                    field: 'gender', 
                    title: '性别', 
                    sortable: true,
                    align: 'center', 
                }, {
                    field: 'department', 
                    title: '学部', 
                    sortable: true,
                }, {
                    field: 'faculty', 
                    title: '系别', 
                    sortable: true,
                }, {
                    field: 'major', 
                    title: '专业', 
                    sortable: true,
                }, {
                    field: 'grade', 
                    title: '年级', 
                    sortable: true,
                    align: 'center', 
                }, {
                    field: 'class', 
                    title: '班级', 
                    sortable: true,
                    align: 'center', 
                }],
                totalField: 'length',
                dataField: 'data',
                idField: 'sid',
                uniqueId: 'sid',
            });
            bindDragSelectEvent(studentTable, 'sid');
        }),
        $('[data-itemcard-menu="3"]').on('click', () => {
            if(teacherTable)  return;
            teacherTable = $('#teacherTable').bootstrapTable({
                locale: 'zh-CN',
                toolbar: '#teacherToolbar',
                toolbarAlign: 'left',
                buttonsOrder: ['paginationSwitch', 'toggle', 'fullscreen', 'refresh', 'columns'],
                showPaginationSwitch: true,
                showToggle: true,
                showFullscreen: true,
                showRefresh: true,
                showColumns: true,
                showButtonText: false,
                showHeader: true,
                showFooter: false,
                pagination: true,
                search: true,
                searchTimeOut: 300,
                minimumCountColumns: 3,
                clickToSelect: true,
                multipleSelectRow: true,
                detailView: true,
                detailViewIcon: true,
                detailFormatter: function(index, row, element) {
                    return `${row.name} ${row.telphone}`;
                },
                sortable: true,
                url: '/admin/teachers',
                columns: [{
                    checkbox: true, 
                }, {
                    field: 'on',
                    title: '序号', 
                    sortable: true,
                    align: 'center', 
                    width: 1,
                }, {
                    field: 'tid', 
                    title: '教师编号', 
                    sortable: true,
                    align: 'center',
                }, {
                    field: 'name', 
                    title: '姓名', 
                    sortable: true,
                }, {
                    field: 'gender', 
                    title: '性别', 
                    sortable: true,
                    align: 'center', 
                }, {
                    field: 'telphone', 
                    title: '电话号码', 
                    sortable: true,
                    align: 'center',
                }, {
                    field: 'role', 
                    title: '职能', 
                    sortable: true,
                }],
                totalField: 'length',
                dataField: 'data',
                idField: 'tid',
                uniqueId: 'tid',
            });
            bindDragSelectEvent(teacherTable, 'tid');
        });
    </script>
{% endblock %}
