{% extends 'base.html' %}

{% block title %}
    电气学院请假审批管理系统
{% endblock title %}

{% block style %}
    <style>
        #welcome {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 38px;
            background-color: #fffa;
            box-shadow: black 3px 3px 8px;
        }
    </style>
{% endblock style %}

{% block body %}
    <div class="container">
        <h1 id="welcome" class="rounded-3 my-5 p-5">欢迎使用 “电气学院请假审批管理系统”</h1>
    </div>
{% endblock body %}
