{% extends 'base.html' %}

{% block title %}
    学生 - {{ rid }} {{ name }}_电气信息学院请假管理系统
{% endblock title %}

{% block body %}
    <div class="container d-flex align-items-center" style="width: 120%;height: calc(100% - 62px);">
        <div class="itemcard">
            <div class="itemcard-menu">
                <ul class="pagination">
                    <li data-itemcard-menu="1" class="page-item active"><button class="page-link"><i class="fa fa-address-card me-2"></i>用户信息</button></li>
                    <li data-itemcard-menu="2" class="page-item"><button class="page-link"><i class="fa fa-plus-square me-2"></i>请假</button></li>
                    <li data-itemcard-menu="3" class="page-item disabled"><button class="page-link"><i class="fa fa-cogs me-2"></i>设置</button></li>
                </ul>
            </div>
            <div data-itemcard-page="1" class="itemcard-page active">
                <div class="row h-100 flex-nowrap align-items-center justify-content-center">
                    <div class="col col-2 col-lg-2 col-sm-3">
                        {% include 'includes/headcard.html' %}
                    </div>
                    <table class="col col-8 table table-striped table-bordered m-0" border="3" style="width: 66%;background-color: #fff;">
                        <thead>
                            <tr><th colspan="4">学生信息</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>学号</td><td>{{ rid }}</td><td>学部</td><td>{{ department }}</td></tr>
                            <tr><td>姓名</td><td>{{ name }}</td><td>系别</td><td>{{ faculty }}</td></tr>
                            <tr><td>性别</td><td>{{ gender }}</td><td>专业</td><td>{{ major }}</td></tr>
                            <tr><td>-</td><td>-</td><td>班级</td><td>{{ _class }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-itemcard-page="2" class="itemcard-page">
                <div class="container">
                    <div class="row">
                        <div id="leaveToolbar" class="col button-group">
                            <button class="btn btn-danger" id="btnRevoke">撤销申请<i class="fa fa-trash-o ms-2"></i></button>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLeaveModal">新建申请<i class="fa fa-plus-circle ms-2"></i></button>
                        </div>
                        <table id="leaveTable" class="col"></table>
                    </div>
                </div>
            </div>
            <div data-itemcard-page="3" class="itemcard-page">
                设置
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addLeaveModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">新建请假申请</div>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="addForm" class="container rounded mx-auto">
                        <div class="form-floating">
                            <select class="form-select" id="inputCategory">
                                <option value="事假">事假</option>
                                <option value="公假">公假</option>
                                <option value="病假">病假</option>
                                <option value="出校申请">出校申请</option>
                            </select>
                            <label class="form-label float-start" for="inputCategory">类别</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="datetime-local" id="inputStartDatatime">
                            <label class="form-label" for="inputStartDatatime">开始日期</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input class="form-control" type="datetime-local" id="inputEndDatetime">
                            <label class="form-label" for="inputEndDatetime">结束日期</label>
                        </div>
                        <div class="form-floating mt-3">
                            <textarea class="form-control h-25" id="inputReason"></textarea>
                            <label class="form-label" for="inputReason">原因</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button class="btn btn-primary" id="btnSubmit">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script>
        let leaveTable = null;
        $('[data-itemcard-menu="2"]').on('click', () => {
            if(leaveTable) return;
            leaveTable = $('#leaveTable').bootstrapTable({
                locale: 'zh-CN',
                toolbar: '#leaveToolbar',
                toolbarAlign: 'left',
                buttonsOrder: ['paginationSwitch', 'refresh', 'toggle', 'fullscreen', 'columns'],
                pagination: true,
                search: true,
                searchTimeOut: 300,
                showColumns: true,
                minimumCountColumns: 3,
                clickToSelect: true,
                multipleSelectRow: true,
                showPaginationSwitch: true,
                showToggle: true,
                showFullscreen: true,
                sortable: true,
                rowStyle: function(row, index) {
                    let classes = '', css = '';
                    switch(row.state) {
                        case '已完成':
                            classes = 'table-success';
                            break;
                        case '待销假':
                            classes = 'table-warning';
                            break;
                        case '待审批':
                        case '审批中':
                            classes = 'table-info';
                            break;
                        case '已撤回':
                            classes = 'table-light';
                            break;
                        case '已驳回':
                            classes = 'table-danger';
                            break;
                    }
                    return {
                        classes: classes,
                        css: css,
                    }
                },
                url: '/student/leaves',
                columns: [{
                    field: 'radio',
                    title: '单选',
                    radio: true,
                }, {
                    field: 'id', 
                    title: '编号', 
                    sortable: true,
                    align: 'center',
                    width: 1,
                }, {
                    field: 'apply_timestamp', 
                    title: '申请日期', 
                    sortable: true,
                    align: 'center',
                }, {
                    field: 'category', 
                    title: '类别', 
                    sortable: true,
                    align: 'center', 
                }, {
                    field: 'start_timestamp', 
                    title: '开始日期', 
                    sortable: true,
                    align: 'center',
                }, {
                    field: 'end_timestamp', 
                    title: '结束日期', 
                    sortable: true,
                    align: 'center',
                }, {
                    field: 'reason', 
                    title: '原因', 
                    sortable: true,
                }, {
                    field: 'a1', 
                    title: '辅导员审批', 
                    sortable: true,
                    align: 'center', 
                }, {
                    field: 'a2', 
                    title: '教务处审批', 
                    sortable: true,
                    align: 'center', 
                }, {
                    field: 'state', 
                    title: '状态', 
                    sortable: true,
                    align: 'center', 
                }],
                totalField: 'length',
                dataField: 'data',
                idField: 'sid',
            });
        }),
        $('#btnRevoke').on('click', function() {
            let leave = $('#leaveTable').bootstrapTable('getSelections').at(0);
            if(!leave) return dialog_warning('未选择任何数据！');
            if(leave.state !== '审批中' && leave.state !== '待审批') return dialog_warning('无法撤回该请假条!');
            dialog_confirm('撤销申请', "确定撤销申请吗?", () => {
                let form = new FormData();
                form.append('id', leave.id);
                $.ajax({
                    async: !1,
                    crossDomain: !0,
                    type: 'delete',
                    url: '/student/leaves',
                    headers: {
                        "cache-control": "no-cache"
                    },
                    processData: !1,
                    contentType: !1,
                    mimeType: "multipart/form-data",
                    data: form
                }).done((function(data) {
                    $('#leaveTable').bootstrapTable('refresh', {});
                })).fail((function(jqXHR) {
                    dialog_error(JSON.parse(jqXHR.responseText).msg);
                }));
            });
        }),
        $('#btnSubmit').on('click', function() {
            let category = $('#inputCategory').val(), sd = $('#inputStartDatatime').val(), ed = $('#inputEndDatetime').val(), reason = $('#inputReason').val();
            if(!category || !sd || !ed) {
                return dialog_warning('类别、开始日期和结束日期不能为空！');
            }
            let form = new FormData();
            form.append('category', category),
            form.append('start_timestamp', sd),
            form.append('end_timestamp', ed),
            form.append('reason', reason);
            $.ajax({
                async: !1,
                crossDomain: !0,
                type: 'post',
                url: '/student/leaves',
                headers: {
                    "cache-control": "no-cache"
                },
                processData: !1,
                contentType: !1,
                mimeType: "multipart/form-data",
                data: form
            }).done(() => {
                $(this).siblings().first().click(),
                $('#leaveTable').bootstrapTable('refresh', {});
            }).fail(function(data) {
                dialog_error('操作失败，请联系管理员!');
            });
        });
    </script>
{% endblock %}
