<nav class="navbar navbar-expand-md bg-primary navbar-dark px-3">
    <ul class="navbar-nav flex flex-row justify-content-between w-100">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center p-0" href="/">
                <img class="navbar-brand rounded-circle" width="32" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo">
                <span class="navbar-brand navbar-text text-wrap">电气学院请假审批管理系统</span>
            </a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <button id="btnUserCenter" class="btn btn-default me-2 border-0 py-1 navbar-text" style="display: none;">个人中心</button>
            {% if rid %}
            <button id="btnUserLR" class="btn btn-success me-2 px-3" style="border: 1px solid #fff;"><i class="fa fa-user-circle me-2"></i>{{ rid }} {{ name }}</button>
            {% else %}
            <button id="btnUserLR" class="btn btn-secondary me-2 px-3" style="border: 1px solid #fff;"><i class="fa fa-user-circle me-2"></i>登录 / 注册</button>
            {% endif %}
        </li>
    </ul>
</nav>
