{% extends 'base.html' %}

{% block title %}
    管理员 - {{ rid }} {{ name }}
{% endblock title %}

{% block body %}
    <div class="container d-flex align-items-center" style="height: calc(100% - 62px);">
        <div class="itemcard">
            <div class="itemcard-menu">
                <ul class="pagination">
                    <li data-itemcard-menu="1" class="page-item active"><a href="#" class="page-link"><i class="fa fa-address-card me-2"></i>用户信息</a></li>
                    <li data-itemcard-menu="2" class="page-item"><a href="#" class="page-link"><i class="fa fa-sitemap me-2"></i>学生管理</a></li>
                    <li data-itemcard-menu="3" class="page-item"><a href="#" class="page-link"><i class="fa fa-sitemap me-2"></i>教师管理</a></li>
                    <li data-itemcard-menu="4" class="page-item"><a href="#" class="page-link"><i class="fa fa-cogs"></i>设置</a></li>
                </ul>
            </div>
            <div data-itemcard-page="1" class="itemcard-page active">
                <div class="row h-100 flex-nowrap align-items-center justify-content-center">
                    <div class="col col-2 col-lg-2 col-sm-3">
                        <div class="card">
                            <img class=" card-body rounded" src="{{ url_for('static', filename='img/user.webp') }}" alt="user">
                            <div class="card-footer text-center">{{ name }}</div>
                        </div>
                    </div>
                    <table class="col col-8 table table-striped table-bordered m-0" border="3" style="width: 30%;background-color: #fff;">
                        <thead>
                            <tr><th colspan="2">管理员信息</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>ID</td><td>{{ aid }}</td></tr>
                            <tr><td>姓名</td><td>{{ name }}</td></tr>
                            <tr><td>性别</td><td>{{ gender }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-itemcard-page="2" class="itemcard-page">
                page2
            </div>
            <div data-itemcard-page="3" class="itemcard-page">
                page3
            </div>
            <div data-itemcard-page="4" class="itemcard-page">
                page4
            </div>
        </div>
    </div>
{% endblock body %}
