{% extends 'base.html' %}

{% block title %}
    电气学院请假审批管理系统
{% endblock title %}

{% block style %}
    <style>
        #welcome {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 38px;
            background-color: #fffa;
            box-shadow: black 3px 3px 8px;
        }
        .btn.btn-default:hover {
            background-color: #ccca;
        }
    </style>
{% endblock style %}

{% block navbar %}
    <nav class="navbar navbar-expand-md bg-primary navbar-dark px-3">
        <ul class="navbar-nav flex flex-row justify-content-between w-100">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center p-0" href="/">
                    <img class="navbar-brand rounded-circle" width="32" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo">
                    <span class="navbar-brand navbar-text text-wrap">电气学院请假审批管理系统</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <button id="btnUserCenter" class="btn btn-default me-2 py-1 navbar-text" type="button" style="display: none;">个人中心</button>
                <button id="btnUser" class="btn btn-secondary px-3 text-nowrap" type="button" style="border: 1px solid #fff;"><i class="fa fa-user-circle me-2"></i>登录 / 注册</button>
            </li>
        </ul>
    </nav>
{% endblock navbar %}

{% block body %}
    <div class="container">
        <h1 id="welcome" class="rounded-3 my-5 p-5">欢迎使用 “电气学院请假审批管理系统”</h1>
    </div>
{% endblock body %}
