{% extends 'base.html' %}

{% block title %}
    学生 - {{ rid }} {{ name }}
{% endblock title %}

{% block body %}
    <div class="container d-flex align-items-center" style="height: calc(100% - 62px);">
        <div class="itemcard">
            <div class="itemcard-menu">
                <ul class="pagination">
                    <li data-itemcard-menu="1" class="page-item active"><a href="#" class="page-link">用户信息</a></li>
                    <li data-itemcard-menu="2" class="page-item"><a href="#" class="page-link">请假</a></li>
                    <li data-itemcard-menu="3" class="page-item disabled"><a href="#" class="page-link">设置</a></li>
                </ul>
            </div>
            <div data-itemcard-page="1" class="itemcard-page active">
                <div class="row h-100 flex-nowrap align-items-center justify-content-center">
                    <div class="col col-2 col-lg-2 col-sm-3">
                        <div class="card">
                            <img class=" card-body rounded" src="{{ url_for('static', filename='img/user.webp') }}" alt="user">
                            <div class="card-footer text-center">{{ name }}</div>
                        </div>
                    </div>
                    <table class="col col-8 table table-striped table-bordered m-0" border="3" style="width: 66%;background-color: #fff;">
                        <thead>
                            <tr><th colspan="4">学生信息</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>学号</td><td>{{ sid }}</td><td>学部</td><td>{{ department }}</td></tr>
                            <tr><td>姓名</td><td>{{ name }}</td><td>系别</td><td>{{ faculty }}</td></tr>
                            <tr><td>性别</td><td>{{ gender }}</td><td>专业</td><td>{{ major }}</td></tr>
                            <tr><td>-</td><td>-</td><td>班级</td><td>{{ _class }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-itemcard-page="2" class="itemcard-page">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="button">新建申请</button>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    第一项
                                </li>
                                <li class="list-group-item">
                                    第二项
                                </li>
                                <li class="list-group-item">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div data-itemcard-page="3" class="itemcard-page">

            </div>
        </div>
    </div>
{% endblock body %}
