{% extends 'base.html' %}

{% block title %}
    学生 - {{ rid }} {{ name }}
{% endblock title %}

{% block body %}
    <div class="container d-flex align-items-center" style="height: calc(100% - 62px);">
        <div class="itemcard">
            <div class="itemcard-menu">
                <ul class="pagination">
                    <li data-itemcard-menu="1" class="page-item active"><a href="#" class="page-link"><i class="fa fa-address-card me-2"></i>用户信息</a></li>
                    <li data-itemcard-menu="2" class="page-item"><a href="#" class="page-link"><i class="fa fa-plus-square me-2"></i>请假</a></li>
                    <li data-itemcard-menu="3" class="page-item disabled"><a href="#" class="page-link"><i class="fa fa-cogs me-2"></i>设置</a></li>
                </ul>
            </div>
            <div data-itemcard-page="1" class="itemcard-page active">
                <div class="row h-100 flex-nowrap align-items-center justify-content-center">
                    <div class="col col-2 col-lg-2 col-sm-3">
                        <div class="card">
                            <img class=" card-body rounded" src="{{ url_for('static', filename='img/user.webp') }}" alt="user">
                            <div class="card-footer text-center">{{ name }}</div>
                        </div>
                    </div>
                    <table class="col col-8 table table-striped table-bordered m-0" border="3" style="width: 66%;background-color: #fff;">
                        <thead>
                            <tr><th colspan="4">学生信息</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>学号</td><td>{{ sid }}</td><td>学部</td><td>{{ department }}</td></tr>
                            <tr><td>姓名</td><td>{{ name }}</td><td>系别</td><td>{{ faculty }}</td></tr>
                            <tr><td>性别</td><td>{{ gender }}</td><td>专业</td><td>{{ major }}</td></tr>
                            <tr><td>-</td><td>-</td><td>班级</td><td>{{ _class }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-itemcard-page="2" class="itemcard-page">
                <div class="container">
                    <div class="row pb-2" style="border-bottom: 1px solid black;">
                        <div class="col">
                            <button class="btn btn-primary" type="button">新建申请<i class="fa fa-plus-circle ms-2"></i></button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <table id="table1" class="col table table-striped table-bordered m-0" style="table-layout: fixed;">
                            <thead>
                                <tr><th>序号</th><th>申请日期</th><th>类别</th><th>开始日期</th><th>结束日期</th><th>辅导员审批</th><th>教务处审批</th><th>状态</th><th>操作</th></tr>
                            </thead>
                            <tbody>
                                <tr><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                <tr><td>3</td><td>sdf</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                <tr><td>2</td><td>-</td><td>-</td><td>asdf</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                <tr><td>1</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                <tr><td>4</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                <tr><td>5</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                <tr><td>1</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-itemcard-page="3" class="itemcard-page">

            </div>
        </div>
    </div>
{% endblock body %}
